*.DS_Store
files/displays/2016/landscape3col.psd
files/displays/2016/landscape-sample.psd
files/displays/2016/portrait-blank.psd
files/displays/2016/portrait-sample.psd
files/displays/2016/landscape1col.psd
